* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 1em;
    text-align: center;
}

.flex {
    min-height: 66vh;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.box {
    margin: 1em;
    /*border: 1px solid;*/
    min-width: 200px;
    padding: 0.5em;
    border-radius: 8px;
    width: 100%;
    font-size: 1.5em;
}

.box.confirmed {
    border: 1px solid #c92626;
    background: #b41919;
}

.box.recovered {
    border: 1px solid #1e62b1;
    background: #1466e0;
}

.box.deaths {
    border: 1px solid #04c46a;
    background: #1ed436;
}

@media screen and (min-width: 800px) {
    .flex {
        flex-wrap: nowrap;
    }
    .box {
        max-width: 300px;
        padding: 2em 1em;
        line-height: 1.5;
        font-size: 2em;
    }
}